body {
  background: linear-gradient(110deg, rgb(22, 12, 54), rgb(124, 104, 240));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro {
  display: flex;
}